@CHARSET
"UTF-8"
;

body {
    background: #333333;
    padding: 0;
    margin: 0;
    font-family: "Trebuchet MS", Trebuchet, Verdana, Helvetica, Arial, sans-serif;
    font-size: 12px;
}

.page {
    margin: 20px 50px;
    padding: 0;
    background: white;
    height: 810px;
    width: 1024px;
}

.topBox {
    float: left;
    height: 210px;
    width: 1024px;
}

.locationBox {
    float: left;
    height: 125px;
    width: 97%;
    border: solid thin blue;
    padding: 0 0 0 10px;
    margin: 10px;
}

.mainTitle {
    font-size: 28px;
    text-align: center;
}

.subTitle {
    font-size: 22px;
    margin: 5px 0;
}

.label {
    font-weight: bold;
    font-size: 14px;
}

.normalText {
    font-size: 12px;
    margin: 5px;
}

.topText {
    float: left;
    margin: 10px 0 10px 10px;
    padding: 0 10px;
    width: 735px;
    height: 160px;
    border: solid thin blue;
}

.featuredPics {
    float: right;
    border: solid thin black;
    padding: 5px;
    margin: 5px;
    height: 210px;
    width: 228px;
}

.featuredPic {
    width: 228px;
    height: 171px;
}

#animalPics {
    float: left;
    clear: left;
}

.noListStyle {
    list-style-type: none;
}

/* Project styles */
.project {
    border: solid thin black;
    background-color: white;
    margin: 5px 0;
    height: 65px;
}

.projectImage{
    padding: 5px 5px 0 5px;
    float: left;
}

.projectsHeader {
    font-size: 12px;
}
.currentProjects {
    background-color: mediumseagreen;
    float: left;
    padding: 5px;
    width: 48%;
}

.completedProjects {
    background-color: mediumseagreen;
    float: right;
    padding: 5px;
    width: 48%;
}

.projectDesc {
    width: 85%;
    float: left;
    padding: 0;
}

.caption {
    margin: 0;
    padding-left:2px;
}
.pics {
    clear: left;
    float: left;
    margin: 5px 20px;
}

.smallPic {
    width: 120px;
    height: 90px;
    border: solid thin black;
}

.mfFloaterText {
    padding: 0;
}

.tabs {
    float: left;
    height: 800px;
    width: 1014px;
    padding: 5px;
}

.tab-container {
    width: 97.8%;
    height: 545px;
}

.nav {
    float: left;
    font-size: 14px;
    margin: 0 0 0 20px;
    width: 640px;
}

.mainNav {
    
}

#prev {
    float: left;
    margin-right: 10px;
}

#next {
    float: left;
}

.back {
    float: right;
    font-size: 14px;
}

.floatBox {
    background: #EEEEEE none repeat scroll 0 0;
    border: 1px solid #999999;
    min-height: 50px;
}

.floatArrow {
    left: -14px;
    position: absolute;
    top: 7px;
}

/* JQuery dialog overrides */
.ui-dialog-titlebar {
    background: #CCCCCC none repeat scroll 0 0;
    padding: 2px 8px;
}

.ui-dialog-content {
    padding: 8px;
}

.ui-dialog-titlebar-close {
    display: none;
}

/* Google calendar */
.googleCalendar {
    border-width:0;
    width: 800px;
    height:550px;
    frameborder:0;
    scrolling:no;
}
