@CHARSET "UTF-8";

body {
	background: #333333;
	padding: 0;
	margin: 0;
	font-family: "Trebuchet MS", Trebuchet, Verdana, Helvetica, Arial, sans-serif;
	font-size: 12px;
}

.page{
    margin: 20px 50px;
    padding: 0;
    background: white;
    height: 900px;
    width: 825px;
}

.topBox{
    float: left;
    height: 200px;
    width: 825px;
}

.locationBox{
    float: left;
    height: 100px;
    width: 825px;
    border: solid thin blue;
    padding: 0 0 0 10px
}

.mainTitle{
    font-size: 24px;
    text-align: center;
}

.subTitle{
    font-size: 18px;
    margin: 5px
}

.normalText{
    font-size: 12px;
}


.topText{
    float:left;
    margin: 10px;
    padding: 0px 10px;
    width: 530px;
    border: solid thin blue;
}

.featuredPics{
    float:right;
    border: solid thin black;
    padding:5px;
    margin: 5px;
    height:190px;
    width:228px;
}

.featuredPic{
    width: 228;
    height: 171;
}

.tabs{
    float:left;
}

.tab-container{
    height:600px;
    width:800px;
}

.nav{
    font-size:14px;
}